{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/poste.css') }}">
{% endblock %}

{% block body %}
    <h1>Réserver tous les postes</h1>

    <a href="{{ path('app_reservation') }}" class="btnAction">Retour</a>
{% endblock %}
