.titre {
    display: flex;
    justify-content: center;
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 1em;
    margin: 0 auto;
}

.titre2 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
}

.btnPoste {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.titreReservation {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 1em;
}

.btnAction {
    display: flex;
    background-color: salmon;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    margin: 0 auto;
    border-radius: 5rem;
    width: 9rem;
    height: 3rem;
    border: 1px solid rgb(5, 123, 84);
}

.table {
    display: grid;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
}

.tableIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 3rem;
    justify-content: center;
    background-color: rgb(216, 216, 214);
    align-items: center;
    gap: 2rem;
    width: 70%;
    margin: 0 auto;
}

.tableValeur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    height: 6rem;
    text-align: center;
    background-color: rgb(181, 181, 177);
    align-items: center;
    gap: 2rem;
    width: 70%;
    margin: 0 auto;
}

.hr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    height: 0.2rem;
    background-color:rgb(5, 123, 84);
    margin-top: 5rem;
    margin-bottom: 5rem;
}

@media only screen and (max-width: 768px) {

    .titre {
        text-align: center;
        font-size: 2.5rem;
    }

    .titre2 {
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    .btnPoste {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 80%;
        gap: 0.5rem;
        justify-content: center;
        margin-top: 1rem;
        padding: 0;
        padding-bottom: 3rem;
    }

    .titreReservation {
        display: none;
    }

    .table {
        display: grid;
        align-items: center;
        margin: 0;
        width: 100%;
    }

    .tableIndex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        height: 3rem;
        justify-content: center;
        background-color: rgb(216, 216, 214);
        align-items: center;
        gap: 0.2rem;
        width: 95%;
        margin: 0 auto;
    }

    .tableValeur {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        font-size: 0.8rem;
        height: 6rem;
        text-align: center;
        background-color: rgb(181, 181, 177);
        align-items: center;
        gap: 0.2rem;
        width: 95%;
        margin: 0 auto;
    }
}