.titre {
    display: flex;
    justify-content: center;
    font-size: 4.5rem;
    font-weight: bold;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.hr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    height: 0.2rem;
    background-color:rgb(5, 123, 84);
    margin-top: 5rem;
    margin-bottom: 5rem;
}

body {
    background-color: rgb(188, 227, 227);
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    height: auto;
    padding-top: 1rem;
    gap: 1rem;
    background-color: rgb(188, 227, 227);
    border: 2px solid rgb(5, 123, 84);
    border-radius: 2rem;
}

.formInput {
    text-align: center;
    width: 10rem;
    height: 2rem;
    gap: 1rem;
}

.formLabel {
    text-align: center;
    width: 10rem;
    height: 2rem;
    gap: 1rem;
}

.formSubmit {
    display: flex;
    background-color: rgb(188, 227, 227);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin: 0 auto;
    border-radius: 1rem;
    width: 9rem;
    height: 3rem;
    margin: 1rem auto 1rem auto;
    grid-column: span 2;
    border: 1px solid rgb(5, 123, 84);
}

@media only screen and (max-width: 768px) {

    .titre {
        text-align: center;
        font-size: 2.5rem;

    }

    .form {
        display: grid;
        grid-template-columns: 35% 65%;
        justify-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        width: 90%;
        height: auto;
        padding-top: 0.7rem;
        gap: 0.3rem;
        background-color: rgb(188, 227, 227);
        border: 2px solid rgb(5, 123, 84);
        border-radius: 2rem;
    }

    .hr {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 60%;
        height: 0.1rem;
        background-color:rgb(5, 123, 84);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .formInput {
        width: 11rem;
    }

    .formLabel {
        width: 8rem;
    }

    .formSubmit {
        width: 7rem;
    }
}