.titre {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 2rem;
}

.gift {
    display: flex;
    justify-content: center;
    margin-left:5rem;
    margin-right:5rem;
    width: 400px;
    height: auto;
    margin-top: 2rem;
}

.formContent {
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 7rem;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 20%;
}

.form-label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: rgb(140, 150, 153);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
}

.form-container-payment {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: rgb(140, 150, 153);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
}

.form-container-payment p {
    font-size: 1.5rem;
    color: black;
    margin: 0;
    text-align: center;
}

.form-group {
    text-align: left;
}

.form-label {
    font-size: 1rem;
    font-weight: bold;
    color: #be0a19;
    margin-bottom: 5px;
    display: block;
}

.form-control {
    width: 380px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.form-control[type="select"], select.form-control {
    width: 400px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}


.form-control:focus {
    border-color: #2e8b57;
    outline: none;
}

.form-container p {
    font-size: 0.9rem;
    color: rgb(226, 18, 18);
    margin: 0;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #030906;
    background: #2e8b57;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background: #276f47;
    transform: scale(1.05);
}

.btn:active {
    transform: scale(1);
}

@media only screen and (max-width: 768px) {
    .titre {
        margin-top: 5rem;
        font-size: 2rem;
    }

    .formContent {
        display: flex;
        flex-direction:column;
        justify-content: center;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 7rem;
        justify-content: center;
        align-items: center;
    }

    .formContent span {
        display: none;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
        width: 80%;
    }
    
    .form-label {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }


@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.form-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background: rgb(140, 150, 153);
    border-radius: 10px;
    border: 1px solid #dcdcdc;
}

.form-container-payment {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: rgb(140, 150, 153);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
}

.form-container-payment p {
    font-size: 1.5rem;
    color: black;
    margin: 0;
    text-align: center;
}

.form-group {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.form-label {
    font-size: 1rem;
    font-weight: bold;
    color: #be0a19;
    margin-bottom: 5px;
    display: block;
}

.form-control {
    width: 100%;
    font-size: 1rem;
    margin: 0 auto;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.form-control[type="select"], select.form-control {
    width: 110%;
    font-size: 1rem;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.form-control option {
    font-size: 2.5rem; 
}


.form-control:focus {
    border-color: #2e8b57;
    outline: none;
}

.form-container p {
    font-size: 0.9rem;
    color: rgb(226, 18, 18);
    margin: 0;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #030906;
    background: #2e8b57;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

}