body {
    margin: 0;
    padding: 0;
    font-family: Rajdhani;
}

a {
    text-decoration: none;
    color: black;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: #D02332;
    margin: 6px 0;
  }

.ocean {
    position: flex;
    width: 100%;
    height: 5rem;
    background-color: #87CEEB;
}

.waves {
    position: relative;
    height: 300px;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: url('../images/wave.png') repeat-x;
    background-size: 1500px 30px;
}

.block {
    width: 100%;
    height: 300px;
    background-color: #D02332;
    z-index: 1000;
}

.header {
    display: flex;
    height: 40rem;
    width: 100%;
    text-align: center;
    background-image: url('../images/imgFrayere.jpg');
    background-position: center top;
    background-position-y: -490px;
    z-index: -1;
}

.headerNav {
    display: grid;
    grid-template-rows: 30% 70%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    
}

.header2 {
    display: flex;
    flex-direction: row;   
    justify-content: flex-end;
    gap: 2.2rem;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    height: 100%;
}

.header2 a {
    color: #D02332 ;
    font-size: 0.8rem;
}

.navListe {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 20px;
    cursor: pointer;
    font-size: 1.5rem;
}

.navList i {
    color: #3b5998;
}

.navBarre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 4rem;
    width: 100%;
    background-color: rgba(178, 175, 175, 0.8);
}

.logo {
    display: flex;
    width: 26vw;
    height: 26vw;
    margin-left: 16rem;
    margin-top: 3rem;
    top: 22%;
    left: 70%;
    border-radius: 6rem;
    opacity: 0.5;
    -webkit-mask-image: 
    linear-gradient(to right, transparent, black 30%, rgba(0, 0, 0, 0.114) 70%, transparent), /* Dégradé transparent sur le bord droit */
    linear-gradient(to bottom, transparent, black 30%, rgba(0, 0, 0, 0.114) 70%, transparent); /* Dégradé transparent sur le bord bas */
        
mask-image: 
    linear-gradient(to right, transparent, black 30%, rgba(0, 0, 0, 0.114) 70%, transparent), /* Dégradé transparent sur le bord droit */
    linear-gradient(to bottom, transparent, black 30%, rgba(0, 0, 0, 0.8) 70%, transparent);
    
}

@media only screen and (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
        font-family: Rajdhani;
        overflow-x: hidden;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 43rem;
        margin: 0 0;
        padding: 0 0;
    }

    .header {
        display: flex;
        width: 100%;
        height: 25rem;
        text-align: center;
        background-image: url('../images/logoFrayere3d.jpeg');
        background-position: center top;
        background-size: cover;
    }
    
    .logo {
        display: none;
    }

    .navBarre {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        flex-grow: 1;
        align-items: center;
        background-color: rgba(166, 163, 163, 0.8);
    }

    .nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        font-size: 9rem;
        align-items: center;
        text-align: center;
        z-index: 1;
    }

    .navListe {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        text-align: center;
    }
    
    
    .navList a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }
}
