<form method="post" action="{{ path('app_poste_two_delete', {'id': poste_two.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette réservation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poste_two.id) }}">
    <button class="btnAction">Supprimer</button>
</form>
