<form method="post" action="{{ path('app_poste_four_delete', {'id': poste_four.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette réservation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poste_four.id) }}">
    <button class="btnAction">Supprimer</button>
</form>
