{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/footer.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/footer.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="footer">
        <img src="{{ asset('images/logoFrayere3d.jpeg') }}" alt="etang" class="etang">
        <div class="footerDescription">
            <p>La Frayère</p>
            <p>Etang de pêche</p>
            <p>37800 Pouzay</p>
            <p>06 65 76 72 28</p>
            <p><a href="https://cyrille-carre.fr" target="_blank" rel="noopener noreferrer">&copy; 2024 CARRE Cyrille. Tous droits réservés.</a></p>
            <a href="https://cyrille-carre.fr" target="_blank" rel="noopener noreferrer"></a>
        </div>
        <div class="facebook">
            <p>Suivez-nous sur Facebook</p>
            <a href="https://www.facebook.com/profile.php?id=100063643567122&locale=fr_FR" target="_blank"><i class="fa-brands fa-facebook" style="color: #74C0FC;"></i></a>
            <button class="btnMention" id="mentionsLegalesBtn">Mentions légales</button>
        </div> 
    <div class="popup" id="mentionsLegalesPopup">
        <div class="popup-content">
            {% include 'mentions/index.html.twig' %}
        </div>
    </div>
    </div>
{% endblock %}