{# templates/payment/cancel.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Paiement annulé{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/poste.css') }}">
{% endblock %}

{% block body %}
    <div class="formPrixPayment">
    <h1>Annulation de votre réservation</h1>
    <p>Votre réservation a été annulé</p>
    <p>Hésitez-pas à faire une nouvelle réservation.</p>
    </div>
{% endblock %}