<form method="post" action="{{ path('app_poste_three_delete', {'id': poste_three.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette réservation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poste_three.id) }}">
    <button class="btnAction">Supprimer</button>
</form>
